In [1]:
from pandas.io import sql
import pandas as pd
import numpy as np
import sqlalchemy

#SQL Connection

Assign SQL connection details using <a href=http://www.sqlalchemy.org/> SQLalchemy</a>.  This is only needed if you want to store the ~1million results in a mySQL database.

In [2]:
engine = sqlalchemy.create_engine('mysql://ipython:ipython27!@localhost/dogm?charset=utf8&use_unicode=0', pool_recycle=3600)

In [3]:
con = engine.raw_connection()

#Data Location

This rootname is for windows network drive.

In [4]:
rootname = "U:/GWP/Groundwater/UMSS_Manti/Data/DOGM/"

This rootname is for Ubuntu thumb drive.

In [5]:
#rootname = "/media/p/5F5B-8FCB/manti/DOGM/"

Filepaths to raw text data downloaded from the <a href=http://linux1.ogm.utah.gov/cgi-bin/appx-ogm.cgi>Utah Division of Oil, Gas, and Mining website</a>. Downloaded from the "Query the database" button in four chunks because current interface does not allow mass download.

In [6]:
results1 = rootname + "17195131.txt"
results2 = rootname + "17320391.txt"
results3 = rootname + "17391924.txt" 
results4 = rootname + "17462467.txt"

#Import Data

Create header for results. Fields described here: http://ogm.utah.gov/coal/edi/EDIdatafields.htm <br>
dtypes: http://docs.scipy.org/doc/numpy/reference/arrays.scalars.html#arrays-scalars-built-in

In [7]:
rhead = ['MINE_ID', 'SITE_ID', 'LAB_CODE', 'LAB_ID', 'PARAM_ID', 'EQUALITY', 'VALUE', 'UNITS', 
        'MIN_DET', 'ANAL_METHD', 'DATE_ANAL', 'TIME_ANAL', 'ANAL_NAME', 'DATE_REC', 
        'DATE_RPT', 'DATE_SAMP', 'TIME_SAMP', 'SAMP_TYPE', 'SAMPLR_NAM', 'COMMENTS']
rtype = {'MINE_ID':np.int16 , 'SITE_ID':np.int16, 'LAB_CODE':np.str_, 'LAB_ID':np.str_, 'PARAM_ID':np.int16, 
         'EQUALITY':np.str_, 'UNITS':np.str_, 'ANAL_METHD':np.str_, 
         'TIME_ANAL':np.str_, 'ANAL_NAME':np.str_, 'SAMP_TYPE':np.str_, 
         'SAMPLR_NAM':np.str_, 'COMMENTS':np.str_, 'VALUE':np.str_,'MIN_DET':np.str_}

import results data

In [8]:
r1 = pd.read_csv(results1, header=None, names= rhead, dtype=rtype, parse_dates=[10,13,14])
r2 = pd.read_csv(results2, header=None, names= rhead, dtype=rtype, parse_dates=[10,13,14])
r3 = pd.read_csv(results3, header=None, names= rhead, dtype=rtype, parse_dates=[10,13,14])
r4 = pd.read_csv(results4, header=None, names= rhead, dtype=rtype, parse_dates=[10,13,14])

Create headers for supporting data. Fields described here: http://ogm.utah.gov/coal/edi/headers.htm

In [9]:
lhead = ['LAB_CODE','LAB_NAME']
mhead = ['PARAM_ID','METHD','METH_DESC']
mtypes = {'PARAM_ID': np.int16, 'METHD': np.str_, 'METH_DESC': np.str_} 
phead = ['PARAM_ID','PAR_DESC']
ptypes = {'PARAM_ID': np.int16, 'PAR_DESC': np.str_}
shead = ['PERM_NO', 'MINE_NAME', 'MINE_ID', 'SITE_ID', 'SITE_NAME', 'SITE_TYPE', 'SITE_DESC']
stypes = {'PERM_NO': np.str_, 'MINE_NAME': np.str_, 'MINE_ID': np.int16, 'SITE_ID':np.int16,
          'SITE_NAME': np.str_, 'STIE_TYPE': np.str_, 'SITE_DESC': np.str_}
uhead = ['PARAM_ID','UNIT','UNIT_DESC']
utypes = {'PARAM_ID':np.int16, 'UNIT':np.str_, 'UNIT_DESC':np.str_}

import supporting data

In [10]:
labs = pd.read_csv("https://fs.ogm.utah.gov/PUB/Software/WaterInput/TABLES/LABS.CDF", header=None, names=lhead)
methods = pd.read_csv("https://fs.ogm.utah.gov/PUB/Software/WaterInput/TABLES/METHODS.CDF", header=None, 
                      names=mhead, dtype=mtypes)
parameter = pd.read_csv("https://fs.ogm.utah.gov/PUB/Software/WaterInput/TABLES/PARAMETE.CDF", header=None, 
                        names=phead, dtype=ptypes)
sites = pd.read_csv("https://fs.ogm.utah.gov/PUB/Software/WaterInput/TABLES/SITES.CDF", header=None,
                   names=shead, dtype=stypes)
units = pd.read_csv("https://fs.ogm.utah.gov/PUB/Software/WaterInput/TABLES/UNITS.CDF", header=None,
                   names=uhead, dtype=utypes)

In [11]:
labs.drop_duplicates(['LAB_CODE'], inplace=True)
methods.drop_duplicates(['PARAM_ID'], inplace=True)
sites.drop_duplicates(['MINE_ID', 'SITE_ID'], inplace=True)
units.drop_duplicates(['PARAM_ID'], inplace=True)

#Manipulate Data

##Results Data

concatonate results data

In [12]:
rall = pd.concat([r1,r2,r3,r4])

In [13]:
def rounder(x):
    if abs(x)<1.0:
        if abs(x)<0.01:
            return round(x,4)
        elif abs(x)<0.1:
            return round(x,3)
        else:
            return round(x,2)
    elif x==0.0:
        return round(x,1)
    else:
        return round(x,2)

In [14]:
rall['VALUE'] = rall['VALUE'].apply(lambda x: x.rstrip('-'),1)
rall['VALUE'] = rall['VALUE'].astype(np.float32)
rall['VALUE'] = rall['VALUE'].apply(lambda x: rounder(x),1)
rall['MIN_DET'] = rall['MIN_DET'].apply(lambda x: x.rstrip('-'),1)
rall['MIN_DET'] = rall['MIN_DET'].astype(np.float32)
rall['MIN_DET'] = rall['MIN_DET'].apply(lambda x: rounder(x),1)

Fix sample time

In [15]:
rall['TIME_SAMP'] = rall['TIME_SAMP'].apply(lambda x:'1200' if np.isnan(x)==True else x)
rall['TIME_SAMP'] = rall['TIME_SAMP'].apply(lambda x: str(int(x)).zfill(4))
rall['DATE_SAMP'] = rall['DATE_SAMP'].apply(lambda x: str(x))
rall['DATETIME_SAMP'] = pd.to_datetime(rall['DATE_SAMP'] + rall['TIME_SAMP'], format='%m/%d/%Y%H%M', coerce=True)
rall.drop(['DATE_SAMP','TIME_SAMP'],inplace=True,axis=1)

In [16]:
res = pd.merge(rall, parameter, on = 'PARAM_ID', how='left')

In [17]:
res1 = pd.merge(res, methods, on = 'PARAM_ID', how='left')

In [18]:
res2 = pd.merge(res1, labs, on='LAB_CODE', how='left')

In [44]:
res4 = pd.merge(res2, sites, on=['MINE_ID','SITE_ID'], how='left')

In [20]:
def samptype(x):
    dic = {10:'No Flow',4:'Grab Sample',11:'No Access', 20:'Field Reading'}
    return dic.get(x, x)

In [21]:
def parabb(x):
    pars = {"TSS-D MAX, DMR":"TSSD", "OIL & GREASE-D MAX, DMR":"Oil", "TSS-7 DAV, DMR":"TSS7", "TSS-30 DAV, DMR":"TSS30", 
     "TOTAL IRON-30D.AVE, DMR, MG/L":"FeAvg", "ACIDITY AS CACO3":"Acid", "TDS-30 D AVE, DMR":"TDS30", 
     "TDS-D MAX, DMR":"TDSD", "TOTAL IRON-D MAX, DMR":"FeD", "FLOW-MAX, DMR":"Qmax", "FLOW AVE DMR":"Qavg", 
     "PH MAXIMUM, DMR":"pHmax", "PH MINIMUM, DMR":"pHmin", "NULL":"NULL", "DISSOLVED CALCIUM":"Ca", 
     "DISSOLVED MAGNESIUM":"Mg", "DISSOLVED POTASSIUM":"K", "DISSOLVED SODIUM":"Na", "DISSOLVED MANGANESE":"Mn", 
     "TOTAL POTASSIUM":"K", "TOTAL SODIUM":"Na", "TOTAL MAGNESIUM":"Mg", "TOTAL CALCIUM":"Ca", 
     "DISSOLVED OXYGEN (FIELD)":"DO", "SETTLEABLE SOLIDS":"Solid", "OIL/GREASE":"Oil", "TOTAL ALKALINITY AS CACO3":"Alk", 
     "BICARBONATE AS HCO3":"HCO3", "CARBONATE AS CO3":"CO3", "TOTAL CATIONS":"Cat", "TOTAL ANIONS":"An", 
     "TOTAL HARDNESS AS CACO3":"Hard", "CHLORIDE":"Cl", "SULFATE":"SO4", "DISSOLVED IRON":"Fe", "PH (FIELD)":"pH", 
     "SP. CONDUCTIVITY (FIELD)":"Cond", "TOTAL MANGANESE":"Mn", "SPECIFIC CONDUCTIVITY (LAB)":"Cond", "PH (LAB)":"pH", 
     "TOTAL IRON":"Fe", "TOTAL DISSOLVED SOLIDS, @ 180 C":"TDS", "TOTAL SUSPENDED SOLIDS":"TSS", 
     "FIELD WATER TEMPERATURE":"Temp", "FLOW":"Q"}
    return pars.get(x, np.nan)

In [45]:
res4['SAMP_DESC'] = res4['SAMP_TYPE'].apply(lambda x: samptype(x),1)
res4['PAR_ABB'] = res4['PAR_DESC'].apply(lambda x: parabb(x),1)

In [ ]:
res4['SAMPLE_ID'] = res4[['DATETIME_SAMP','MINE_ID','SITE_ID']].apply(lambda x: str(int(x[1])).zfill(2)+'-'+str(int(x[2])).zfill(4)+'-'+str(x[0]),1)
res4['STATION_ID'] = res4[['MINE_ID','SITE_ID']].apply(lambda x: 'UDOGM-' + str(int(x[1])).zfill(2)+'-'+str(int(x[2])).zfill(4),1)

In [ ]:
res4.dropna(subset=['PAR_DESC'],inplace=True)

In [52]:
parlist = pd.DataFrame(res4['PAR_DESC'].unique())
parlist.to_clipboard()
parlist

                                      0
0                                  FLOW
1               FIELD WATER TEMPERATURE
2                            PH (FIELD)
3              DISSOLVED OXYGEN (FIELD)
4              SP. CONDUCTIVITY (FIELD)
5                              PH (LAB)
6                TOTAL SUSPENDED SOLIDS
7                            OIL/GREASE
8                     DISSOLVED CALCIUM
9                        DISSOLVED IRON
10                  DISSOLVED MAGNESIUM
11                  DISSOLVED MANGANESE
12                  DISSOLVED POTASSIUM
13                     DISSOLVED SODIUM
14                  BICARBONATE AS HCO3
15                     CARBONATE AS CO3
16                             CHLORIDE
17                              SULFATE
18            TOTAL ALKALINITY AS CACO3
19              TOTAL HARDNESS AS CACO3
20          SPECIFIC CONDUCTIVITY (LAB)
21      TOTAL DISSOLVED SOLIDS, @ 180 C
22                        TOTAL CATIONS
23                         TOTAL ANIONS
24                           TOTAL IRON
25                      TOTAL MANGANESE
26                    SETTLEABLE SOLIDS
27                        TOTAL CALCIUM
28                      TOTAL MAGNESIUM
29                      TOTAL POTASSIUM
..                                  ...
106              DISSOLVED NITRITE, NO2
107                   TURBIDITY (FIELD)
108                        C.O.D., MG/L
109               TOTAL VOLATILE SOLIDS
110                              H+IRON
111                        CYANIDE (CL)
112           DISSOLVED IRON-D MAX, DMR
113                          CO3 SOLIDS
114                              PHENOL
115                                 C14
116                                 O18
117                           DEUTERIUM
118                             TRITIUM
119              DISSOLVED NITRATE, NO3
120                             CYANIDE
121                    SURFACTANT, MBAS
122                        TOTAL COBALT
123                  DISSOLVED SELENIUM
124                         H+ ALUMINUM
125  TOTAL PETROLEUM HYDROCARBONS (TPH)
126                        H+ MANGANESE
127                    226 RADIUM, PC/L
128         XYLENE (VOLATILE AROMATICS)
129  ETHYL BENZENE (VOLATILE AROMATICS)
130        BENZENE (VOLATILE AROMATICS)
131        TOLUENE (VOLATILE AROMATICS)
132                     ETHYLENE GLYCOL
133                    PROPYLENE GLYCOL
134    NAPHTHALENE (VOLATILE AROMATICS)
135         METHYL-T-BUTYL ETHER (MTBE)

[136 rows x 1 columns]

In [43]:
print res4.dtypes

MINE_ID                   int16
SITE_ID                   int16
LAB_CODE                 object
LAB_ID                   object
PARAM_ID                  int16
EQUALITY                 object
VALUE                   float64
UNITS                    object
MIN_DET                 float64
ANAL_METHD               object
DATE_ANAL                object
TIME_ANAL                object
ANAL_NAME                object
DATE_REC                 object
DATE_RPT         datetime64[ns]
SAMP_TYPE                object
SAMPLR_NAM               object
COMMENTS                 object
DATETIME_SAMP    datetime64[ns]
PAR_DESC                 object
METHD                    object
METH_DESC                object
LAB_NAME                 object
PERM_NO                  object
MINE_NAME                object
SITE_NAME                object
SITE_TYPE                object
SITE_DESC                object
SAMP_DESC                object
PAR_ABB                  object
SAMPLE_ID                object
dtype: object

In [51]:
print len(res4)

829610

In [47]:
res5 = res4.drop_duplicates(['SAMPLE_ID','PAR_ABB'])
res5 = res5[res5['EQUALITY'] != '<']

In [48]:
res6 = res5.pivot(index='SAMPLE_ID', columns='PAR_ABB', values='VALUE')

In [49]:
res6.drop(['Acid','TDS30','TDSD','TSS30','TSSD','TSS7','pHmax','pHmin','Oil','FeAvg','FeD','Cat','An','Solid'],inplace=True,axis=1)

In [50]:
print list(res6.columns)

[nan, 'Alk', 'CO3', 'Ca', 'Cl', 'Cond', 'DO', 'Fe', 'HCO3', 'Hard', 'K', 'Mg', 'Mn', 'Na', 'Q', 'Qavg', 'Qmax', 'SO4', 'TDS', 'TSS', 'Temp', 'pH']

In [28]:
res6['QnormedTDS'] = res6['TDS']/res6['Q']
res6['QnormedCond'] = res6['Cond']/res6['Q']

In [29]:
res6.dropna(subset=['TDS','SO4','Cond'], how='all', inplace=True, axis=0)

In [30]:
pivresults = pd.merge(res6, res5, left_index=True, right_on='LAB_ID', how='left')

In [31]:
pivresults.drop(['LAB_CODE','LAB_ID','PARAM_ID', 'EQUALITY', 'VALUE', 'UNITS', 'MIN_DET',
                 'ANAL_METHD', 'DATE_ANAL', 'TIME_ANAL', 'ANAL_NAME', 'DATE_REC', 'DATE_RPT', 'SAMP_TYPE', 'SAMPLR_NAM', 
                 'COMMENTS', 'PAR_DESC', 'METHD','METH_DESC','PAR_ABB'], inplace=True, axis=1)

Excel formula to generate a dictionary key to abbreviate chemical names using a summary table (Assumes headers, key in col A, value in col B):<br>
First line:`="{"&""""&A2&""""&":"&""""&B2&""""&", "`<br>
Next lines:`=""""&A3&""""&":"&""""&B3&""""&", "`<br>
At bottom cumulative: `=C47&C3`

#Export

In [58]:
res4.to_sql(con=con, name='results', if_exists='replace', flavor='mysql', chunksize=5000)

In [148]:
res4.to_csv(rootname+'all.csv')

In [161]:
pivresults.to_csv(rootname+'bysample.csv')

In [ ]:
sites.to_sql(con=con, name='stations', if_exists='replace', flavor='mysql', chunksize=5000)
labs.to_sql(con=con, name='labs', if_exists='replace', flavor='mysql')
methods.to_sql(con=con, name='methods', if_exists='replace', flavor='mysql')
parameter.to_sql(con=con, name='parameter', if_exists='replace', flavor='mysql')
units.to_sql(con=con, name='units', if_exists='replace', flavor='mysql')

In [125]:
con.close()